<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>  
    <typeAliases>  
        <typeAlias type="com.poly.entity.PolyUser" alias="PolyUser"/>
        <typeAlias type="com.poly.entity.PolyDept" alias="PolyDept"/>
        <typeAlias type="com.poly.entity.PolyPosition" alias="PolyPosition"/>
    </typeAliases> 
</configuration>  